@import "variables";

canned-replies-dropdown {
  display: block;
}

.canned-reply-menu {
  width: 300px;

  strong {
    font-weight: 500;
  }

  .input-container {
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid mat-color($app-foreground, divider);
  }

  .no-results {
    padding: 10px 10px 0;
    font-size: 1.6rem;
    text-align: center;
  }
}
