:host {
  display: block;
  position: relative;
}

search-report-table, article-report-table {
  display: block;
  margin-top: 20px;
}

.mat-progress-bar {
  position: absolute;
  top: 66px;
  left: 0;
}
