@import "variables";

topics-panel {
  display: block;
  padding: 25px;
  align-self: flex-start;

  > .title {
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: 25px;
  }

  .category {
    display: block;
    padding: 15px 0 15px 40px;
    position: relative;
    color: mat-color($app-foreground, hc-title-text);

    &:hover {
      color: mat-color($app-foreground, link);
    }

    > mat-icon {
      position: absolute;
      top: 6px;
      left: 0;
      width: 35px;
      height: 35px;
      color: mat-color($app-foreground, hint-text);
    }

    &.active {
      font-weight: 500;
    }
  }
}
