@import "variables";

suggested-articles-dropdown {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &.rounded  {
    input {
      display: block;
      height: $hc-search-bar-height;
      border-radius: 50px;
      font-size: 1.8rem;
      padding: 0 30px;
      border: none;
      margin: 0 auto;
      width: calc(100% - 40px);
      color: mat-color($app-foreground, text);
      outline: none;
      background-color: mat-color($app-background, card);
      @include mat-elevation(2);

      @media only screen and (max-width: $medium) {
        font-size: 1.5rem;
      }
   }

    .input-icon {
      position: absolute;
      right: 35px;
      top: 9px;
      color: mat-color($app-foreground, hint-text);
      transition: color 0.3s;

      .mat-icon {
        width: 35px;
        height: 35px;
      }

      &.spin-icon {
        display: none;
      }
    }
  }

  .input-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .dropdown-open {
    z-index: 1001;

    input {
      background-color: #daecfc;
    }

    .input-icon {
      color: mat-color($app-accent, default);
    }
  }

  .suggestions-container {
    position: relative;

    &.has-results .search-results {
      display: block;
    }

    &.searching .search-icon {
      animation: flickerAnimation 0.5s infinite;
    }
  }
}

.article-autocomplete-panel.mat-autocomplete-panel {
  background-color: mat-color($app-background, card);
  max-height: none;
  overflow: auto;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-bottom: 0;
  z-index: 1;
  transform-origin: top;
  border-top: 1px solid mat-color($app-foreground, divider);

  &.for-homepage {
    top: -80px;
    left: -20px;
    padding-top: 100px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .result {
    padding: 12px 24px;
    font-size: 1.4rem;
    border-bottom: 1px solid mat-color($app-foreground, divider-lighter);
    height: auto;
    line-height: normal;

    &:hover {
      background-color: mat-color($app-accent, emphasis);
    }

    &.see-all {
      padding-left: 22px;
    }

    .mat-option-text {
      display: flex;
    }

    .result-content {
      width: calc(100% - 30px);
    }

    .title {
      font-weight: 500;
      margin-bottom: 5px;
      color: mat-color($app-foreground, hc-text);
      font-size: 1.5rem;
    }

    .body {
      color: mat-color($app-foreground, secondary-text);
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 20px;
      font-size: 1.3rem;
      max-height: 40px; // max two lines of text
    }

    .meta {
      margin: 15px 0 5px;
      font-size: 1.2rem;
      color: mat-color($app-foreground, secondary-text);

      .inline {
        vertical-align: middle;
        border: 1px solid mat-color($app-foreground, divider);
        border-radius: 3px;
        padding: 3px 5px;
        margin-right: 5px;
      }
    }
  }

  .see-all {
    display: block;
    font-size: 1.4rem;
    color: mat-color($app-foreground, link);
  }

  .no-results-option {
    line-height: initial;
    height: auto;
    cursor: default;
    padding: 20px 0 45px;

    .main {
      font-size: 2.2rem;
      font-weight: 400;
      margin-bottom: 5px;
    }

    .secondary {
      font-size: 1.6rem;
    }

    .icon {
      width: 120px;
      height: 120px;
    }
  }
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.4; }
  100% { opacity:1; }
}
